*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    background:  url('../CounDownApp/img/main.jpg') center center;
    background-size: cover;
}

.overlay{
    width: 100%;
    height: 100%;
    color: white;
    background-color: rgba(0,0,0,0.7);
    display: flex;
    
    align-items: center;
    flex-direction: column;
}
.title{
    margin-top: 10px;
    color: white;
    font-size: 2.5rem;
    text-align: center;
}

.col{
    width: 1000px;
     display: flex;
    justify-content: center;
    color: white;
}
.col div{
    width: 250px;
    text-align: center;
}
input{
    background-color: rgba(255, 255, 255, 0.8);
    height: 60px;
    width: 50%;
    display: block;
}